.top{
	padding-left: 32px;
	padding-right: 32px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
		@media (min-width: 700px){
			padding-left: 64px;
			padding-right: 64px;
		}
		@media (min-width: 900px){
			padding-left: 96px;
			padding-right: 96px;
		}
}
.header-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header-menu__point--link{
	text-decoration: none;
	color: #191919;
	font-weight: bold;
}
.header-menu__point{
	list-style-type: none;
	margin-left: 32px;
}
.header-menu__point--link:hover{
	color: #10c9c3;
}
.logo{
	background-image: url(../img/logo.png);
	display: block;
	width: 31px;
	height: 25px;
}