.top{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
		@media (min-width: 450px){
			flex-direction: row;
		}
		@media (min-width: 700px){
			padding-left: 64px;
			padding-right: 64px;
		}
		@media (min-width: 900px){
			padding-left: 96px;
			padding-right: 96px;
		}
}
.header-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.header-menu__item--link{
	text-decoration: none;
	color: #191919;
	font-weight: bold;
	font-family: $header-font;
	display: block;
	padding: 8px;
}
.header-menu__item{
	list-style-type: none;
	margin-left: 8px;
	margin-right: 8px;
		@media (min-width: 500px){
			margin-left: 32px;
			margin-right: 0;
		}
}
.header-menu__item--link:hover{
	color: $btn-color;
}
.logo{
	background-image: url(../img/logo.png);
	display: block;
	width: 31px;
	height: 25px;
}