.main-conent{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f6f6f6;
}
.main--header{
	font-family: Montserrat;
	font-size: 38px;
	color: #171717;
}
.main--text{
	font-family: Myriad Pro;
	font-size: 18px;
	color: #787878;
}