@keyframes description{
	from {height: 0;}
	to {height: 100%;}
}
@keyframes appear{
	from {opacity: 0;}
	to {opacity: 1;}
}
.main-conent{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f6f6f6;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
	@media (min-width: 700px){
			padding-left: 64px;
			padding-right: 64px;
		}
		@media (min-width: 900px){
			padding-left: 96px;
			padding-right: 96px;
		}
}
.main--header{
	font-family: $header-font;
	font-size: 38px;
	color: #171717;
}
.main--text{
	font-family: $text-font;
	font-size: 18px;
	color: #787878;
}
.image-container__image{
	width: 100%;
	height: 100%;
	display: block;
}
.image-container{
	overflow: hidden;
		@media (min-width: 600px){
			overflow: visible;
		}
}
.image-container__link:hover{
	transform: scale(1.2);
	z-index: 3;
	@media(min-width: 600px){
			transform: scale(1.2);
			transform-origin: 0 50%;
			transition: transform 0.3s;
		}
}
.image-container:nth-child(3n+3) 
	.image-container__link:hover{
			transform-origin: 100% 50%;
}
.image-container:nth-child(3n+2) 
	.image-container__link:hover{
			transform-origin: 50% 50%;
}
.portfolio{
	display: grid;
	grid-template-columns: 1fr;
		@media(min-width: 600px){
			grid-template-columns: 1fr 1fr 1fr;
		}
	grid-gap: 0;
}
.descriptinon{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	transition: background-color 0s;
}
.image-container__link div p{
		opacity: 0;
		transition: opacity 0s;
		text-align: left;
		margin-left: 16px;
		font-family: $header-font;
		color: black;
		font-weight: bold;
}
@media (min-width: 600px){
	.image-container__link{
		display: block;
		height: auto;
		position: relative;
	}
	.image-container__link:hover > div{
		background-color: rgba(255, 255, 255, 0.2);
		transition: background-color 1s;
	}
	.image-container__link:hover div p{
		opacity: 1;
		transition: opacity 1s;
	}
}



