.about-head
	h1(class="about-head--header") Stas Motorny
	p(class="about-head--text") I am a Nature & Landscape phtographer based in Kyiv, specializing in Landscapes and Nature Portraits.
.statistic
	.statistic__data-first
		div.statistic__data
			p(class="statistic__data--number" id="first-counter") 209
			p(class="statistic__data--name") PROJECTS COMPLETED
	.statistic__data-second
		div.statistic__data
			p(class="statistic__data--number" id="second-counter") 987
			p(class="statistic__data--name") WORKING HOURS
	.statistic__data-third
		div.statistic__data
			p(class="statistic__data--number" id="third-counter") 1901
			p(class="statistic__data--name") POSITIVE FEEDBACKS
	.statistic__data-fourth
		div.statistic__data
			p(class="statistic__data--number" id="fourth-counter") 1200
			p(class="statistic__data--name") HAPPY CLIENTS
.about-me
	.about-me__text-block
		h2(class="about-me__text-block--header") About me
		p(class="about-me__text-block--text") I really love two thinhs: Nature and Photography. The best way to spend free time is to go in Mountains and make few photos of ammazing nature. You like such Time spending? Go together! 
		p(class="about-me__text-block--text") Let's meet sunrise on wild cold together! I will show you real beauty of the world!
main(class="order")
	h2(class="order--header") Need a Project?
	p(class="order--text") Let us know what you're looking for. We'll take a look and see if this could be the start of something beautiful.
	a(class="order--btn" href="error.html") LET'S TALK