.background
	.text
		p(class="error-text") A long time ago, in a galaxy far, far away somebody didn't create this page, so you get this 404 Error. By the way today is the premiere showing of Star Wars: Last Jedi. You can watch this movie while I will finish this page.
audio(autoplay="autoplay" loop="loop")
	source(src="music/music.mp3" type="audio/mpeg")
	source(src="music/music.ogg" type="audio/ogg")