header(class="top")
	a(class="logo" href="home.html")
	ul(class="header-menu")
		- var i = ["HOME", "ABOUT", "CONTACT"];
		for name in i
			li(class="header-menu__point")
				a(class= "header-menu__point--link" href= name +'.html')=name