include ../mixins/_mixin
header(class="top")
	a(class="logo" href="index.html")
	ul(class="header-menu")
		+header-menu("HOME", "index.html")
		+header-menu("ABOUT", "about.html")
		+header-menu("CONTACT", "contact.html")