main(class="main-conent")
	h1(class="main--header") UI\UX & Graphic Designer
	p(class="main--text") I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.